.btn {
  color: white;
  background-color: #007266;
  padding: 10px 10px;
  font-family: 'Libre Baskerville', sans-serif;
  font-weight: normal;
  margin:10px 18px;
  align-self: center;
}

.btn:hover{
  background-color: #AFBE8F;
  color:#007266;
}
